In [1]:
from IPython.display import HTML
import pandas as pd
import geopandas as gpd
import requests as r
import json
import plotly.express as px
import plotly.graph_objects as go
from IPython.display import IFrame

### Regular Gas - Yearly Average Line Graph

In [2]:
yearlyAvg = pd.read_csv("regularGasYearlyAvg.csv")
yearlyAvg = yearlyAvg[["Year", "GEO", "Value"]]
yearlyAvg

     Year                        GEO       Value
0    1990                    Alberta   53.895833
1    1990           British Columbia   60.766667
2    1990                   Manitoba   55.325000
3    1990              New Brunswick         NaN
4    1990  Newfoundland and Labrador   61.466667
..    ...                        ...         ...
391  2022                    Ontario  160.355556
392  2022       Prince Edward Island  156.900000
393  2022                     Quebec  167.416667
394  2022               Saskatchewan  150.166667
395  2022                      Yukon  166.233333

[396 rows x 3 columns]

In [3]:
IFrame(src='yearlyAvgLineGraph.html', width=900, height=500)

### Regular Gas - Yearly Average Area Under Line Graph

In [12]:
IFrame(src='yearlyAvgAreaGraph.html', width=900, height=500)

### Regular Gas - Yearly Average Choropleth Map

In [5]:
IFrame(src='choroplethMap.html', width=900, height=500)

In [6]:
IFrame(src='choroplethBasic.html', width=900, height=500)

### Regular Gas - Yearly Average by Province

In [17]:
IFrame(src='facetMapVertical.html', width=950, height=900)

In [15]:
IFrame(src='facetHorizontal.html', width=900, height=900)

### Regular, Premium, Diesel Gas - Stacked Bar Graph

In [9]:
threeGases = pd.read_csv("allThreeGases.csv")
threeGases = threeGases[["Year", "Type", "Value"]]
threeGases

    Year     Type       Value
0   1990  Regular   58.956806
1   1991  Regular   58.779861
2   1992  Regular   56.213009
3   1993  Regular   55.058449
4   1994  Regular   54.964699
..   ...      ...         ...
94  2018   Diesel  129.243750
95  2019   Diesel  126.816319
96  2020   Diesel  105.748958
97  2021   Diesel  132.473264
98  2022   Diesel  169.701389

[99 rows x 3 columns]

In [10]:
IFrame(src='stackedBar.html', width=900, height=500)

### Regular, Premium, Diesel Gas - Histogram

In [11]:
IFrame(src='histogramFig.html', width=900, height=500)