In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("station-inventory.csv", on_bad_lines = "skip", skiprows = 3)
df

,SampleClass,AgencyCode,StationNumber,RiverSubBasinCode,StationType,StationNameDescription,StationComment,LatititudeDecimalDegrees,LongitudeDecimalDegrees,SampleMatrixCodeDescription,...,During1970_79,During1980_89,During1990_99,During2000_2009,During2010_2019,MostRecentSampleDate,Inorganics_ions_physicals_nutrients_bacteria,Metals,Pesticides,Organics_No_Pesticides
0,A,211,AB05AA0010,05AA,0 (RIVER OR STREAM),OLDMAN RIVER AT THE HEADWATERS,NaN,50.09167,-114.61111,0 (WATER),...,0,4,0,0,0,01-Sep-1981,4.0,0.0,0.0,0.0
1,A,211,AB05AA0011,05AA,0 (RIVER OR STREAM),OLDMAN RIVER U/S LIVINGSTONE RIVER CONFLUENCE,u/s of bridge on Forestry Trunk Road,49.94936,-114.40497,91 (EPILITHIC),...,0,0,0,3,9,19-Aug-2013,12.0,0.0,0.0,0.0
2,A,211,AB05AA0011,05AA,0 (RIVER OR STREAM),OLDMAN RIVER U/S LIVINGSTONE RIVER CONFLUENCE,u/s of bridge on Forestry Trunk Road,49.94936,-114.40497,0 (WATER),...,0,0,0,12,36,06-Mar-2014,46.0,46.0,0.0,0.0
3,A,211,AB05AA0012,05AA,0 (RIVER OR STREAM),LIVINGSTONE RIVER U/S CONFLUENCE WITH OLDMAN R...,at bottom of narrow path from staging area,49.96672,-114.39856,91 (EPILITHIC),...,0,0,0,3,9,19-Aug-2013,12.0,0.0,0.0,0.0
4,A,211,AB05AA0012,05AA,0 (RIVER OR STREAM),LIVINGSTONE RIVER U/S CONFLUENCE WITH OLDMAN R...,at bottom of narrow path from staging area,49.96672,-114.39856,0 (WATER),...,0,0,0,12,36,06-Mar-2014,46.0,46.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5937,A,211,SA06AF0330,06AF,1 (LAKE),LAC DES ILES PROFILE - WEST SOUTH,NaN,54.43556,-109.51333,0 (WATER),...,0,41,0,0,0,10-Jul-1985,NaN,NaN,NaN,NaN
5938,A,211,SA06AF0340,06AF,1 (LAKE),LAC DES ILES PROFILE - NARROWS,NaN,54.46000,-109.37778,0 (WATER),...,0,157,0,0,0,03-Oct-1985,NaN,NaN,NaN,NaN
5939,A,211,SA06AF0350,06AF,1 (LAKE),LAC DES ILES PROFILE - EAST CENTRE,NaN,54.45278,-109.31111,0 (WATER),...,0,158,0,0,0,19-Sep-1985,NaN,NaN,NaN,NaN
5940,A,211,SA06AF0380,06AF,1 (LAKE),LAC DES ILES COMPOSITE,NaN,54.43278,-109.44417,0 (WATER),...,0,12,0,0,0,30-Oct-1985,11.0,2.0,0.0,0.0
5941,A,211,SA06AF0400,06AF,1 (LAKE),COLD LAKE PROFILE SITE OFF MEADOW LAKE PROV PA...,NaN,54.54333,-109.91611,0 (WATER),...,0,0,2,0,0,08-Sep-1998,2.0,0.0,0.0,2.0

In [3]:
df.sort_values(by="StationType")

,SampleClass,AgencyCode,StationNumber,RiverSubBasinCode,StationType,StationNameDescription,StationComment,LatititudeDecimalDegrees,LongitudeDecimalDegrees,SampleMatrixCodeDescription,...,During1970_79,During1980_89,During1990_99,During2000_2009,During2010_2019,MostRecentSampleDate,Inorganics_ions_physicals_nutrients_bacteria,Metals,Pesticides,Organics_No_Pesticides
0,A,211,AB05AA0010,05AA,0 (RIVER OR STREAM),OLDMAN RIVER AT THE HEADWATERS,NaN,50.09167,-114.61111,0 (WATER),...,0,4,0,0,0,01-Sep-1981,4.0,0.0,0.0,0.0
2333,A,211,AB05DE1860,05DE,0 (RIVER OR STREAM),SAND CREEK SOUTH OF LODGEPOLE,"4 KM WEST OF LODGEPOLE ON SEC 620, 10 KM SOUTH...",52.98056,-115.35694,0 (WATER),...,0,0,6,2,0,27-Apr-2000,4.0,0.0,0.0,0.0
2334,A,211,AB05DE1870,05DE,0 (RIVER OR STREAM),WASHOUT CREEK 9.8 KM SOUTH OF SEC HWY 616 ON H...,NaN,53.04139,-114.99056,0 (WATER),...,0,0,8,4,0,13-Jun-2000,6.0,0.0,0.0,0.0
2335,A,211,AB05DE1880,05DE,0 (RIVER OR STREAM),"620 CREEK NEAR DRAYTON VALLEY,0.7 KM SOUTH OF ...",NaN,53.19167,-114.99889,0 (WATER),...,0,0,6,6,0,31-Jul-2001,6.0,0.0,0.0,0.0
2336,A,211,AB05DE1890,05DE,0 (RIVER OR STREAM),"VIOLET GROVE CREEK NEAR DRAYTON VALLEY,4.8 KM ...",NaN,53.12944,-114.97889,0 (WATER),...,0,0,7,6,0,11-Jul-2000,7.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2157,A,211,AB05DC0320,05DC,91 (AERATED LAGOON(MECHANICAL)),ROCKY MOUNTAIN HOUSE ROCKY MOUNTAIN HOUSE,NaN,52.36667,-114.91667,21 (RAW WASTE WATER.),...,0,0,9,0,0,24-Nov-1999,NaN,NaN,NaN,NaN
84,A,211,AB05AA0700,05AA,91 (AERATED LAGOON(MECHANICAL)),CNP-BELLEVUE CNP-BELLEVUE STP:AERATED LAGOON(M...,NaN,49.58333,-114.36667,22 (TREATED WASTEWATER),...,0,0,12,2,0,07-Jun-2005,14.0,2.0,0.0,0.0
2313,A,211,AB05DE1450,05DE,91 (AERATED LAGOON(MECHANICAL)),DRAYTON VALLEY DRAYTON VALLEY AERATED LAGOON,NaN,53.21667,-114.98333,22 (TREATED WASTEWATER),...,0,0,20,23,0,04-Oct-2008,26.0,2.0,2.0,0.0
2154,A,211,AB05DC0300,05DC,91 (AERATED LAGOON(MECHANICAL)),NORDEGG NORDEGG,NaN,52.46667,-116.08333,22 (TREATED WASTEWATER),...,0,0,2,0,0,23-Apr-1998,1.0,0.0,0.0,0.0
2314,A,211,AB05DE1450,05DE,91 (AERATED LAGOON(MECHANICAL)),DRAYTON VALLEY DRAYTON VALLEY AERATED LAGOON,NaN,53.21667,-114.98333,21 (RAW WASTE WATER.),...,0,0,13,0,0,25-Nov-1999,2.0,0.0,0.0,0.0

In [4]:
df["StationType"].unique()

array(['0 (RIVER OR STREAM)', '1 (LAKE)',
       '91 (AERATED LAGOON(MECHANICAL))', '24 (ACTIVATED SLUDGE.)',
       '5 (RESERVOIR)', '11 (SPRING)', '4 (POND)', '41 (EFFLUENT)',
       '28 (IRRIGATION CANAL/RETURN)', '30 (PRECIPITATION)',
       '23 (WASTE WATER TREATMENT POND.)',
       '70 (RBC ( ROTATING BIOLOGICAL CHAMBER ).)', '50 (SURFACE WATER.)',
       '21 (STORM SEWER.)', '10 (GROUND WATER)',
       '44 (GROUND AND SURFACE WATER COMBINATION)', '14 (WETLAND)',
       '40 (TREATED SUPPLY)', '42 (INFLUENT ( BEFORE TREATMENT ).)',
       '22 (WASTE BETWEEN TREATMENT FACILITIES.)', '26 (SANITARY SEWAGE)',
       '27 (MINE SITE WATERBODY)'], dtype=object)

In [5]:
df["SampleMatrixCodeDescription"].unique()

array(['0 (WATER)', '91 (EPILITHIC)', '97 (INVERTEBRATES)',
       '50 (SEDIMENTS)', '22 (TREATED WASTEWATER)',
       '96 (VEGETATION (AQUATIC))', '99 (BIOTA)', '93 (ZOOPLANKTON)',
       '30 (RAIN)', '27 (EFFLUENT)', '20 (WASTEWATER)', '6 (RAW WATER.)',
       '2 (SURFACE WATER)', '1 (WATER SURFACE FILM)', '60 (AIR)',
       '31 (SNOW)', '7 (GROUNDWATER)', '16 (WATERING POINT)',
       '21 (RAW WASTE WATER.)', '10 (TREATED WATER)', '8 (ICE)',
       '3 (BIOFILM)'], dtype=object)

In [6]:
df.columns

Index(['SampleClass', 'AgencyCode', 'StationNumber', 'RiverSubBasinCode',
       'StationType', 'StationNameDescription', 'StationComment',
       'LatititudeDecimalDegrees', 'LongitudeDecimalDegrees',
       'SampleMatrixCodeDescription', 'TotalSampleCount', 'EarliestSample',
       'PriorTo1970', 'During1970_79', 'During1980_89', 'During1990_99',
       'During2000_2009', 'During2010_2019', 'MostRecentSampleDate',
       'Inorganics_ions_physicals_nutrients_bacteria', 'Metals', 'Pesticides',
       'Organics_No_Pesticides'],
      dtype='object')

In [7]:
print(df["EarliestSample"].min())
print(df["MostRecentSampleDate"].max())

01-Apr-1968
31-Oct-2012

In [8]:
df.EarliestSample = pd.to_datetime(df.EarliestSample)
df = df[df["EarliestSample"] > "2000-01-01"]
df

,SampleClass,AgencyCode,StationNumber,RiverSubBasinCode,StationType,StationNameDescription,StationComment,LatititudeDecimalDegrees,LongitudeDecimalDegrees,SampleMatrixCodeDescription,...,During1970_79,During1980_89,During1990_99,During2000_2009,During2010_2019,MostRecentSampleDate,Inorganics_ions_physicals_nutrients_bacteria,Metals,Pesticides,Organics_No_Pesticides
1,A,211,AB05AA0011,05AA,0 (RIVER OR STREAM),OLDMAN RIVER U/S LIVINGSTONE RIVER CONFLUENCE,u/s of bridge on Forestry Trunk Road,49.94936,-114.40497,91 (EPILITHIC),...,0,0,0,3,9,19-Aug-2013,12.0,0.0,0.0,0.0
2,A,211,AB05AA0011,05AA,0 (RIVER OR STREAM),OLDMAN RIVER U/S LIVINGSTONE RIVER CONFLUENCE,u/s of bridge on Forestry Trunk Road,49.94936,-114.40497,0 (WATER),...,0,0,0,12,36,06-Mar-2014,46.0,46.0,0.0,0.0
3,A,211,AB05AA0012,05AA,0 (RIVER OR STREAM),LIVINGSTONE RIVER U/S CONFLUENCE WITH OLDMAN R...,at bottom of narrow path from staging area,49.96672,-114.39856,91 (EPILITHIC),...,0,0,0,3,9,19-Aug-2013,12.0,0.0,0.0,0.0
4,A,211,AB05AA0012,05AA,0 (RIVER OR STREAM),LIVINGSTONE RIVER U/S CONFLUENCE WITH OLDMAN R...,at bottom of narrow path from staging area,49.96672,-114.39856,0 (WATER),...,0,0,0,12,36,06-Mar-2014,46.0,46.0,0.0,0.0
5,A,211,AB05AA0013,05AA,0 (RIVER OR STREAM),DUTCH CREEK U/S CONFLUENCE WITH OLDMAN RIVER,upstream of bridge on Forestry Trunk Road at c...,49.90303,-114.39367,91 (EPILITHIC),...,0,0,0,3,9,19-Aug-2013,12.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5882,A,211,ABG1575576,05FA,10 (GROUND WATER),PGW - PIGEON LAKE - JOHNSONIA BEACH - C.MCQUEE...,NaN,53.05647,-114.06451,7 (GROUNDWATER),...,0,0,0,0,1,23-Oct-2013,1.0,0.0,0.0,0.0
5883,A,211,ABG1575834,05FA,10 (GROUND WATER),PGW - PIGEON LAKE - CRYSTAL KEYS - KHORMARK HO...,NaN,52.97073,-114.03209,7 (GROUNDWATER),...,0,0,0,0,1,22-Oct-2013,1.0,0.0,0.0,0.0
5884,A,211,ABG1576049,05FA,10 (GROUND WATER),PGW - PIGEON LAKE - GRANDVIEW BEACH #1 SLOTTED...,NaN,52.99188,-114.05939,7 (GROUNDWATER),...,0,0,0,0,1,22-Oct-2013,1.0,0.0,0.0,0.0
5893,A,211,SA06AD0010,06AD,0 (RIVER OR STREAM),BEAVER RIVER APPROX 5KM U/S HWY 21 BRIDGE (SOU...,NaN,54.27426,-109.81402,0 (WATER),...,0,0,0,0,1,03-Jul-2010,1.0,1.0,0.0,0.0
5899,A,211,SA06AD0065,06AD,0 (RIVER OR STREAM),BEAVER RIVER APPROX 4.5KM U/S HWY 26 BRIDGE (S...,NaN,54.23548,-109.24346,0 (WATER),...,0,0,0,0,1,04-Jul-2010,1.0,1.0,0.0,0.0

In [9]:
df["EarliestSample"].unique()

array(['2008-08-14T00:00:00.000000000', '2008-04-30T00:00:00.000000000',
       '2019-06-18T00:00:00.000000000', '2019-07-16T00:00:00.000000000',
       '2021-06-02T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
       '2021-06-03T00:00:00.000000000', '2004-11-04T00:00:00.000000000',
       '2013-08-21T00:00:00.000000000', '2013-04-17T00:00:00.000000000',
       '2015-09-14T00:00:00.000000000', '2001-06-21T00:00:00.000000000',
       '2011-08-24T00:00:00.000000000', '2004-09-27T00:00:00.000000000',
       '2012-08-20T00:00:00.000000000', '2016-07-18T00:00:00.000000000',
       '2018-06-26T00:00:00.000000000', '2018-07-23T00:00:00.000000000',
       '2007-06-05T00:00:00.000000000', '2018-07-24T00:00:00.000000000',
       '2021-05-12T00:00:00.000000000', '2017-06-28T00:00:00.000000000',
       '2017-07-26T00:00:00.000000000', '2008-08-13T00:00:00.000000000',
       '2000-05-24T00:00:00.000000000', '2001-09-13T00:00:00.000000000',
       '2003-07-14T00:00:00.000000000', '2008-08-12T00:00:00.000000000',
       '2008-04-29T00:00:00.000000000', '2012-09-12T00:00:00.000000000',
       '2012-04-24T00:00:00.000000000', '2014-06-19T00:00:00.000000000',
       '2014-07-22T00:00:00.000000000', '2005-07-26T00:00:00.000000000',
       '2013-09-11T00:00:00.000000000', '2015-05-27T00:00:00.000000000',
       '2017-06-15T00:00:00.000000000', '2019-07-26T00:00:00.000000000',
       '2000-09-05T00:00:00.000000000', '2001-06-14T00:00:00.000000000',
       '2015-09-10T00:00:00.000000000', '2014-07-29T00:00:00.000000000',
       '2005-09-13T00:00:00.000000000', '2017-07-18T00:00:00.000000000',
       '2001-06-27T00:00:00.000000000', '2017-06-21T00:00:00.000000000',
       '2000-06-28T00:00:00.000000000', '2005-06-07T00:00:00.000000000',
       '2013-06-12T00:00:00.000000000', '2013-08-28T00:00:00.000000000',
       '2004-09-02T00:00:00.000000000', '2017-07-05T00:00:00.000000000',
       '2013-08-27T00:00:00.000000000', '2016-08-24T00:00:00.000000000',
       '2013-09-12T00:00:00.000000000', '2016-06-22T00:00:00.000000000',
       '2013-07-03T00:00:00.000000000', '2013-07-09T00:00:00.000000000',
       '2011-04-26T00:00:00.000000000', '2006-06-08T00:00:00.000000000',
       '2000-02-03T00:00:00.000000000', '2015-09-09T00:00:00.000000000',
       '2013-03-11T00:00:00.000000000', '2000-10-19T00:00:00.000000000',
       '2000-05-12T00:00:00.000000000', '2003-06-24T00:00:00.000000000',
       '2018-06-18T00:00:00.000000000', '2005-07-20T00:00:00.000000000',
       '2015-07-16T00:00:00.000000000', '2015-07-17T00:00:00.000000000',
       '2015-09-15T00:00:00.000000000', '2005-04-12T00:00:00.000000000',
       '2007-09-11T00:00:00.000000000', '2016-06-20T00:00:00.000000000',
       '2007-05-30T00:00:00.000000000', '2013-09-05T00:00:00.000000000',
       '2017-06-22T00:00:00.000000000', '2005-06-09T00:00:00.000000000',
       '2000-06-21T00:00:00.000000000', '2000-06-22T00:00:00.000000000',
       '2001-05-22T00:00:00.000000000', '2001-07-16T00:00:00.000000000',
       '2001-08-20T00:00:00.000000000', '2004-08-18T00:00:00.000000000',
       '2003-07-16T00:00:00.000000000', '2005-06-08T00:00:00.000000000',
       '2005-04-13T00:00:00.000000000', '2017-07-27T00:00:00.000000000',
       '2013-09-04T00:00:00.000000000', '2016-06-21T00:00:00.000000000',
       '2008-10-15T00:00:00.000000000', '2015-07-28T00:00:00.000000000',
       '2013-09-06T00:00:00.000000000', '2011-06-29T00:00:00.000000000',
       '2007-09-12T00:00:00.000000000', '2013-06-18T00:00:00.000000000',
       '2008-06-18T00:00:00.000000000', '2000-09-13T00:00:00.000000000',
       '2013-09-17T00:00:00.000000000', '2016-06-23T00:00:00.000000000',
       '2016-08-25T00:00:00.000000000', '2015-09-23T00:00:00.000000000',
       '2015-04-15T00:00:00.000000000', '2011-09-21T00:00:00.000000000',
       '2011-04-13T00:00:00.000000000', '2015-09-22T00:00:00.000000000',
       '2014-08-01T00:00:00.000000000', '2017-07-12T00:00:00.000000000',
       '2016-06-24T00:00:00.000000000', '2016-07-29T00:00:00.000000000',
       '2018-07-11T00:00:00.000000000', '2019-10-23T00:00:00.000000000',
       '2015-07-08T00:00:00.000000000', '2014-07-08T00:00:00.000000000',
       '2017-08-24T00:00:00.000000000', '2013-09-19T00:00:00.000000000',
       '2002-04-11T00:00:00.000000000', '2012-09-26T00:00:00.000000000',
       '2012-04-30T00:00:00.000000000', '2014-07-18T00:00:00.000000000',
       '2000-04-25T00:00:00.000000000', '2015-07-27T00:00:00.000000000',
       '2013-06-14T00:00:00.000000000', '2001-10-18T00:00:00.000000000',
       '2001-10-31T00:00:00.000000000', '2003-04-14T00:00:00.000000000',
       '2004-04-19T00:00:00.000000000', '2003-04-24T00:00:00.000000000',
       '2004-06-14T00:00:00.000000000', '2014-07-25T00:00:00.000000000',
       '2015-09-11T00:00:00.000000000', '2004-04-29T00:00:00.000000000',
       '2004-05-13T00:00:00.000000000', '2012-08-22T00:00:00.000000000',
       '2012-04-20T00:00:00.000000000', '2011-07-15T00:00:00.000000000',
       '2005-10-28T00:00:00.000000000', '2001-07-17T00:00:00.000000000',
       '2000-05-26T00:00:00.000000000', '2000-07-18T00:00:00.000000000',
       '2000-06-26T00:00:00.000000000', '2011-03-09T00:00:00.000000000',
       '2003-05-21T00:00:00.000000000', '2010-09-01T00:00:00.000000000',
       '2009-04-14T00:00:00.000000000', '2014-07-23T00:00:00.000000000',
       '2000-05-02T00:00:00.000000000', '2006-08-13T00:00:00.000000000',
       '2000-04-27T00:00:00.000000000', '2000-04-11T00:00:00.000000000',
       '2001-05-28T00:00:00.000000000', '2001-05-29T00:00:00.000000000',
       '2001-05-23T00:00:00.000000000', '2015-09-16T00:00:00.000000000',
       '2001-04-30T00:00:00.000000000', '2001-06-19T00:00:00.000000000',
       '2012-09-27T00:00:00.000000000', '2016-03-03T00:00:00.000000000',
       '2001-04-23T00:00:00.000000000', '2001-04-24T00:00:00.000000000',
       '2005-10-26T00:00:00.000000000', '2011-04-28T00:00:00.000000000',
       '2005-11-01T00:00:00.000000000', '2016-04-12T00:00:00.000000000',
       '2005-10-17T00:00:00.000000000', '2007-05-29T00:00:00.000000000',
       '2014-09-11T00:00:00.000000000', '2006-10-18T00:00:00.000000000',
       '2017-07-28T00:00:00.000000000', '2013-07-19T00:00:00.000000000',
       '2017-07-04T00:00:00.000000000', '2000-06-05T00:00:00.000000000',
       '2004-06-07T00:00:00.000000000', '2004-10-14T00:00:00.000000000',
       '2017-07-07T00:00:00.000000000', '2013-07-12T00:00:00.000000000',
       '2016-04-11T00:00:00.000000000', '2016-07-14T00:00:00.000000000',
       '2006-07-27T00:00:00.000000000', '2005-10-19T00:00:00.000000000',
       '2008-03-26T00:00:00.000000000', '2014-04-24T00:00:00.000000000',
       '2014-08-29T00:00:00.000000000', '2014-07-16T00:00:00.000000000',
       '2006-04-24T00:00:00.000000000', '2007-04-24T00:00:00.000000000',
       '2018-06-14T00:00:00.000000000', '2018-07-12T00:00:00.000000000',
       '2002-04-25T00:00:00.000000000', '2000-07-04T00:00:00.000000000',
       '2005-04-08T00:00:00.000000000', '2000-03-31T00:00:00.000000000',
       '2001-03-11T00:00:00.000000000', '2006-04-08T00:00:00.000000000',
       '2001-03-08T00:00:00.000000000', '2008-06-28T00:00:00.000000000',
       '2018-07-17T00:00:00.000000000', '2000-07-06T00:00:00.000000000',
       '2002-03-22T00:00:00.000000000', '2017-07-31T00:00:00.000000000',
       '2000-05-25T00:00:00.000000000', '2013-06-28T00:00:00.000000000',
       '2014-07-03T00:00:00.000000000', '2000-07-05T00:00:00.000000000',
       '2000-07-27T00:00:00.000000000', '2000-07-22T00:00:00.000000000',
       '2008-04-23T00:00:00.000000000', '2005-10-20T00:00:00.000000000',
       '2000-07-19T00:00:00.000000000', '2016-05-18T00:00:00.000000000',
       '2015-04-09T00:00:00.000000000', '2016-06-07T00:00:00.000000000',
       '2016-07-22T00:00:00.000000000', '2018-05-07T00:00:00.000000000',
       '2019-07-03T00:00:00.000000000', '2019-05-30T00:00:00.000000000',
       '2015-07-02T00:00:00.000000000', '2013-09-20T00:00:00.000000000',
       '2005-07-27T00:00:00.000000000', '2020-07-28T00:00:00.000000000',
       '2019-06-08T00:00:00.000000000', '2012-10-02T00:00:00.000000000',
       '2011-06-08T00:00:00.000000000', '2011-10-25T00:00:00.000000000',
       '2011-10-06T00:00:00.000000000', '2018-09-20T00:00:00.000000000',
       '2020-09-23T00:00:00.000000000', '2020-07-24T00:00:00.000000000',
       '2011-10-24T00:00:00.000000000', '2019-10-11T00:00:00.000000000',
       '2018-09-18T00:00:00.000000000', '2012-10-10T00:00:00.000000000',
       '2008-03-05T00:00:00.000000000', '2010-06-03T00:00:00.000000000',
       '2019-06-12T00:00:00.000000000', '2019-10-12T00:00:00.000000000',
       '2012-10-12T00:00:00.000000000', '2015-08-20T00:00:00.000000000',
       '2011-10-05T00:00:00.000000000', '2015-07-30T00:00:00.000000000',
       '2013-06-11T00:00:00.000000000', '2014-08-08T00:00:00.000000000',
       '2011-06-07T00:00:00.000000000', '2011-10-12T00:00:00.000000000',
       '2011-05-10T00:00:00.000000000', '2020-09-03T00:00:00.000000000',
       '2019-10-14T00:00:00.000000000', '2012-10-13T00:00:00.000000000',
       '2018-09-25T00:00:00.000000000', '2019-10-07T00:00:00.000000000',
       '2019-10-09T00:00:00.000000000', '2012-10-14T00:00:00.000000000',
       '2018-09-17T00:00:00.000000000', '2013-06-13T00:00:00.000000000',
       '2017-06-26T00:00:00.000000000', '2001-09-17T00:00:00.000000000',
       '2008-05-21T00:00:00.000000000', '2000-08-30T00:00:00.000000000',
       '2000-03-28T00:00:00.000000000', '2001-03-09T00:00:00.000000000',
       '2001-04-18T00:00:00.000000000', '2005-08-16T00:00:00.000000000',
       '2008-06-02T00:00:00.000000000', '2013-06-23T00:00:00.000000000',
       '2011-06-26T00:00:00.000000000', '2012-06-16T00:00:00.000000000',
       '2020-09-02T00:00:00.000000000', '2005-11-07T00:00:00.000000000',
       '2002-07-08T00:00:00.000000000', '2012-10-15T00:00:00.000000000',
       '2001-05-15T00:00:00.000000000', '2012-10-16T00:00:00.000000000',
       '2013-06-19T00:00:00.000000000', '2003-04-23T00:00:00.000000000',
       '2004-08-30T00:00:00.000000000', '2004-04-20T00:00:00.000000000',
       '2007-07-31T00:00:00.000000000', '2008-02-27T00:00:00.000000000',
       '2007-04-11T00:00:00.000000000', '2007-04-16T00:00:00.000000000',
       '2007-03-27T00:00:00.000000000', '2000-05-23T00:00:00.000000000',
       '2000-06-19T00:00:00.000000000', '2018-09-27T00:00:00.000000000',
       '2011-10-20T00:00:00.000000000', '2016-07-08T00:00:00.000000000',
       '2017-06-12T00:00:00.000000000', '2015-06-25T00:00:00.000000000',
       '2015-07-05T00:00:00.000000000', '2015-08-27T00:00:00.000000000',
       '2017-11-24T00:00:00.000000000', '2017-10-22T00:00:00.000000000',
       '2014-07-06T00:00:00.000000000', '2015-08-15T00:00:00.000000000',
       '2013-06-24T00:00:00.000000000', '2012-06-26T00:00:00.000000000',
       '2014-07-11T00:00:00.000000000', '2015-08-14T00:00:00.000000000',
       '2014-06-11T00:00:00.000000000', '2017-09-05T00:00:00.000000000',
       '2006-06-30T00:00:00.000000000', '2019-08-22T00:00:00.000000000',
       '2020-05-20T00:00:00.000000000', '2003-06-12T00:00:00.000000000',
       '2003-09-02T00:00:00.000000000', '2012-06-23T00:00:00.000000000',
       '2000-06-20T00:00:00.000000000', '2000-04-26T00:00:00.000000000',
       '2019-10-06T00:00:00.000000000', '2001-09-10T00:00:00.000000000',
       '2001-05-16T00:00:00.000000000', '2019-10-05T00:00:00.000000000',
       '2005-11-17T00:00:00.000000000', '2012-10-17T00:00:00.000000000',
       '2008-10-06T00:00:00.000000000', '2019-10-04T00:00:00.000000000',
       '2007-03-28T00:00:00.000000000', '2006-10-26T00:00:00.000000000',
       '2002-06-11T00:00:00.000000000', '2012-10-18T00:00:00.000000000',
       '2007-05-23T00:00:00.000000000', '2019-09-27T00:00:00.000000000',
       '2008-04-14T00:00:00.000000000', '2016-05-31T00:00:00.000000000',
       '2007-07-03T00:00:00.000000000', '2008-03-10T00:00:00.000000000',
       '2007-07-19T00:00:00.000000000', '2008-01-31T00:00:00.000000000',
       '2007-06-11T00:00:00.000000000', '2008-06-19T00:00:00.000000000',
       '2008-03-11T00:00:00.000000000', '2007-07-18T00:00:00.000000000',
       '2007-06-14T00:00:00.000000000', '2007-06-07T00:00:00.000000000',
       '2007-10-01T00:00:00.000000000', '2008-09-22T00:00:00.000000000',
       '2007-06-12T00:00:00.000000000', '2007-08-01T00:00:00.000000000',
       '2008-02-25T00:00:00.000000000', '2008-06-26T00:00:00.000000000',
       '2008-06-24T00:00:00.000000000', '2008-06-25T00:00:00.000000000',
       '2002-07-11T00:00:00.000000000', '2005-11-09T00:00:00.000000000',
       '2007-04-17T00:00:00.000000000', '2012-10-19T00:00:00.000000000',
       '2008-10-08T00:00:00.000000000', '2006-06-14T00:00:00.000000000',
       '2014-07-20T00:00:00.000000000', '2014-06-29T00:00:00.000000000',
       '2000-07-25T00:00:00.000000000', '2013-07-14T00:00:00.000000000',
       '2019-09-30T00:00:00.000000000', '2019-03-28T00:00:00.000000000',
       '2016-07-19T00:00:00.000000000', '2003-08-15T00:00:00.000000000',
       '2018-07-04T00:00:00.000000000', '2018-07-06T00:00:00.000000000',
       '2015-07-15T00:00:00.000000000', '2007-07-26T00:00:00.000000000',
       '2015-06-18T00:00:00.000000000', '2014-06-06T00:00:00.000000000',
       '2013-06-07T00:00:00.000000000', '2000-07-11T00:00:00.000000000',
       '2000-07-10T00:00:00.000000000', '2005-07-30T00:00:00.000000000',
       '2017-07-14T00:00:00.000000000', '2007-06-17T00:00:00.000000000',
       '2011-09-29T00:00:00.000000000', '2000-05-30T00:00:00.000000000',
       '2000-05-03T00:00:00.000000000', '2000-07-12T00:00:00.000000000',
       '2019-06-10T00:00:00.000000000', '2012-10-25T00:00:00.000000000',
       '2013-08-26T00:00:00.000000000', '2004-12-15T00:00:00.000000000',
       '2010-04-21T00:00:00.000000000', '2021-09-14T00:00:00.000000000',
       '2013-06-25T00:00:00.000000000', '2012-09-21T00:00:00.000000000',
       '2013-06-05T00:00:00.000000000', '2007-07-11T00:00:00.000000000',
       '2005-08-23T00:00:00.000000000', '2005-06-16T00:00:00.000000000',
       '2013-10-24T00:00:00.000000000', '2013-10-22T00:00:00.000000000',
       '2007-07-16T00:00:00.000000000', '2001-06-29T00:00:00.000000000',
       '2007-07-10T00:00:00.000000000', '2013-06-17T00:00:00.000000000',
       '2000-04-04T00:00:00.000000000', '2000-06-12T00:00:00.000000000',
       '2000-07-17T00:00:00.000000000', '2001-06-05T00:00:00.000000000',
       '2003-04-10T00:00:00.000000000', '2013-04-30T00:00:00.000000000',
       '2013-04-26T00:00:00.000000000', '2013-05-02T00:00:00.000000000',
       '2014-04-23T00:00:00.000000000', '2014-07-05T00:00:00.000000000',
       '2000-06-29T00:00:00.000000000', '2015-07-23T00:00:00.000000000',
       '2000-07-20T00:00:00.000000000', '2021-09-21T00:00:00.000000000',
       '2013-10-29T00:00:00.000000000', '2014-07-14T00:00:00.000000000',
       '2009-06-10T00:00:00.000000000', '2018-07-31T00:00:00.000000000',
       '2013-06-27T00:00:00.000000000', '2016-07-05T00:00:00.000000000',
       '2009-06-14T00:00:00.000000000', '2017-07-25T00:00:00.000000000',
       '2014-07-21T00:00:00.000000000', '2010-06-02T00:00:00.000000000',
       '2010-06-06T00:00:00.000000000', '2010-07-07T00:00:00.000000000',
       '2019-07-04T00:00:00.000000000', '2014-07-31T00:00:00.000000000',
       '2005-06-19T00:00:00.000000000', '2016-06-02T00:00:00.000000000',
       '2016-07-07T00:00:00.000000000', '2016-06-30T00:00:00.000000000',
       '2019-07-23T00:00:00.000000000', '2005-03-07T00:00:00.000000000',
       '2009-06-09T00:00:00.000000000', '2015-06-14T00:00:00.000000000',
       '2010-06-21T00:00:00.000000000', '2003-07-04T00:00:00.000000000',
       '2010-06-19T00:00:00.000000000', '2008-09-16T00:00:00.000000000',
       '2013-07-10T00:00:00.000000000', '2010-06-29T00:00:00.000000000',
       '2006-07-13T00:00:00.000000000', '2015-07-10T00:00:00.000000000',
       '2005-09-20T00:00:00.000000000', '2005-03-10T00:00:00.000000000',
       '2005-03-09T00:00:00.000000000', '2004-04-05T00:00:00.000000000',
       '2016-06-16T00:00:00.000000000', '2005-11-08T00:00:00.000000000',
       '2017-06-29T00:00:00.000000000', '2017-08-09T00:00:00.000000000',
       '2018-07-10T00:00:00.000000000', '2013-05-27T00:00:00.000000000',
       '2014-07-26T00:00:00.000000000', '2018-07-25T00:00:00.000000000',
       '2007-04-18T00:00:00.000000000', '2006-04-19T00:00:00.000000000',
       '2004-04-06T00:00:00.000000000', '2003-06-25T00:00:00.000000000',
       '2006-06-06T00:00:00.000000000', '2010-06-30T00:00:00.000000000',
       '2010-07-08T00:00:00.000000000', '2010-07-02T00:00:00.000000000',
       '2016-07-20T00:00:00.000000000', '2003-06-13T00:00:00.000000000',
       '2014-07-28T00:00:00.000000000', '2017-06-13T00:00:00.000000000',
       '2017-08-14T00:00:00.000000000', '2015-01-20T00:00:00.000000000',
       '2016-05-11T00:00:00.000000000', '2016-05-26T00:00:00.000000000',
       '2016-07-28T00:00:00.000000000', '2019-06-04T00:00:00.000000000',
       '2019-07-09T00:00:00.000000000', '2007-06-20T00:00:00.000000000',
       '2007-09-19T00:00:00.000000000', '2015-01-23T00:00:00.000000000',
       '2015-01-22T00:00:00.000000000', '2006-12-07T00:00:00.000000000',
       '2000-09-21T00:00:00.000000000', '2000-09-20T00:00:00.000000000',
       '2000-06-08T00:00:00.000000000', '2015-01-26T00:00:00.000000000',
       '2015-01-27T00:00:00.000000000', '2007-06-27T00:00:00.000000000',
       '2005-07-13T00:00:00.000000000', '2000-09-18T00:00:00.000000000',
       '2000-04-12T00:00:00.000000000', '2000-09-19T00:00:00.000000000',
       '2001-09-06T00:00:00.000000000', '2001-11-08T00:00:00.000000000',
       '2001-07-05T00:00:00.000000000', '2000-09-26T00:00:00.000000000',
       '2001-05-24T00:00:00.000000000', '2001-07-04T00:00:00.000000000',
       '2007-06-19T00:00:00.000000000', '2015-05-26T00:00:00.000000000',
       '2010-09-21T00:00:00.000000000', '2000-06-04T00:00:00.000000000',
       '2000-02-15T00:00:00.000000000', '2000-09-27T00:00:00.000000000',
       '2000-09-29T00:00:00.000000000', '2015-08-23T00:00:00.000000000',
       '2015-08-10T00:00:00.000000000', '2007-09-18T00:00:00.000000000',
       '2019-05-01T00:00:00.000000000', '2015-08-18T00:00:00.000000000',
       '2014-07-01T00:00:00.000000000', '2012-06-13T00:00:00.000000000',
       '2012-07-19T00:00:00.000000000', '2013-06-30T00:00:00.000000000',
       '2014-06-15T00:00:00.000000000', '2015-08-29T00:00:00.000000000',
       '2016-09-01T00:00:00.000000000', '2016-05-24T00:00:00.000000000',
       '2018-07-18T00:00:00.000000000', '2017-07-06T00:00:00.000000000',
       '2013-05-30T00:00:00.000000000', '2007-09-25T00:00:00.000000000',
       '2014-07-15T00:00:00.000000000', '2007-10-04T00:00:00.000000000',
       '2007-11-08T00:00:00.000000000', '2007-09-26T00:00:00.000000000',
       '2005-10-04T00:00:00.000000000', '2010-07-14T00:00:00.000000000',
       '2013-05-07T00:00:00.000000000', '2011-09-07T00:00:00.000000000',
       '2012-09-18T00:00:00.000000000', '2010-08-17T00:00:00.000000000',
       '2005-02-07T00:00:00.000000000', '2015-02-02T00:00:00.000000000',
       '2004-07-06T00:00:00.000000000', '2015-02-05T00:00:00.000000000',
       '2015-06-22T00:00:00.000000000', '2015-02-04T00:00:00.000000000',
       '2017-09-06T00:00:00.000000000', '2016-06-10T00:00:00.000000000',
       '2017-04-05T00:00:00.000000000', '2013-05-14T00:00:00.000000000',
       '2002-10-03T00:00:00.000000000', '2002-10-02T00:00:00.000000000',
       '2001-10-02T00:00:00.000000000', '2002-09-30T00:00:00.000000000',
       '2010-09-22T00:00:00.000000000', '2015-02-10T00:00:00.000000000',
       '2011-04-19T00:00:00.000000000', '2007-10-10T00:00:00.000000000',
       '2012-04-11T00:00:00.000000000', '2003-02-19T00:00:00.000000000',
       '2015-02-11T00:00:00.000000000', '2012-04-12T00:00:00.000000000',
       '2010-02-23T00:00:00.000000000', '2000-02-23T00:00:00.000000000',
       '2000-09-22T00:00:00.000000000', '2001-04-19T00:00:00.000000000',

In [10]:
print(df["EarliestSample"].min())

2000-02-03 00:00:00

In [11]:
excel = pd.read_excel("domestic2003.xlsx")
columnnames = excel.columns.to_list()
columnnames
emptydf = pd.DataFrame(columns=columnnames)
emptydf

Empty DataFrame
Columns: [Date, Source, WellDepth, Aluminum, Antimony, Arsenic, Barium, Beryllium, Boron, Cadmium, Chromium, Cobalt, Copper, Iron, Lead, Manganese, Mercury, Molybdenum, Nickel, Selenium, Silver, Thallium, Titanium, Uranium, Vanadium, Zinc, Latitude, Longitude, STRM]
Index: []

[0 rows x 29 columns]

In [12]:
def gatherdata(excellist):
    global emptydf
    for excelfile in excellist:
        file = pd.read_excel(excelfile)
        emptydf = pd.concat([emptydf, file], axis=0)
    return emptydf

In [13]:
lists = ["domestic2003.xlsx", "domestic2006.xlsx", "domestic2009.xlsx", "domestic2012.xlsx"]
domestic = gatherdata(lists)
domestic

,Date,Source,WellDepth,Aluminum,Antimony,Arsenic,Barium,Beryllium,Boron,Cadmium,...,Selenium,Silver,Thallium,Titanium,Uranium,Vanadium,Zinc,Latitude,Longitude,STRM
0,2001-12-18 00:00:00,Well,120,0.12,-0.001,-0.001,0.05,-99.0,-0.01,-0.001,...,-0.001,-0.001,-0.001,-0.001,-99,-0.001,-0.001,50.710423,-113.825107,S21T20R28M4
1,2001-12-20 00:00:00,Well,45,-0.001,-0.001,0.01,0.03,-99.0,-0.01,-0.001,...,-0.001,-0.001,-0.001,-0.001,-99,-0.001,5.8,53.854302,-112.715702,S23T56R19M4
2,2002-03-04 00:00:00,Well,55,0.02,-0.001,-0.001,0.16,-0.001,-0.01,-0.001,...,-0.001,-0.001,-0.001,-0.001,-99,-0.001,-0.001,53.912447,-112.542138,S12T57R18M4
3,2002-03-11 00:00:00,Well,60,0.04,0.14,-0.001,0.21,-0.001,-0.01,-0.001,...,-0.001,-0.001,-0.001,-0.001,-99,-0.001,-0.001,53.344961,-113.111111,S26T50R22M4
4,2002-03-12 00:00:00,Well,175,0.01,-0.001,0.02,0.01,-0.001,-0.01,-0.001,...,-0.001,-0.001,-0.001,-0.001,-99,-0.001,0.72,53.432219,-114.186453,S26T51R2M5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,2012-11-29 00:00:00,Well,35,0.161,0.002,0.025,1.219,-0.001,0.05,-0.001,...,0.001,-0.001,-0.001,0.008,-99.0,0.005,0.031,54.362325,-110.093169,S16T62R1M4
135,2012-11-30 00:00:00,Well,260,0.008,-0.001,-0.001,0.059,-0.001,0.22,-0.001,...,-0.001,-0.001,-0.001,0.002,-99.0,-0.001,0.01,53.475565,-113.135698,S11T52R22M4
136,2012-12-05 00:00:00,Well,120,0.009,-0.001,0.015,0.096,-0.001,0.11,-0.001,...,-0.001,-0.001,-0.001,0.002,-99.0,-0.001,0.007,53.519284,-113.873286,S26T52R27M4
137,2012-12-07 00:00:00,Well,133,0.005,-0.001,0.009,0.131,-0.001,0.07,-0.001,...,-0.001,-0.001,-0.001,0.002,-99.0,-0.001,0.004,53.519377,-113.750443,S27T52R26M4
138,2012-12-20 00:00:00,Well,340,0.01,0.002,-0.001,0.08,-0.001,0.34,-0.001,...,-0.001,-0.001,-0.001,0.002,-99.0,-0.001,0.002,53.562918,-114.087937,S9T53R1M5

In [14]:
print("-109.37778" in domestic["Longitude"].unique())

False